<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Madeline Tomseth | Title</title>

    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">

    
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">


    <link href="/fine-uploader/fine-uploader/fine-uploader-gallery.css" rel="stylesheet">



    
    <!-- Vitality -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">

 
   <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Cardo:400,400italic,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,600,700" rel="stylesheet">

   <!-- Plugin CSS -->
   <script src="/vital/vendor/jquery/jquery.min.js"></script>

   <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

   <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">
   <link href="vendor/formstone/background.css" rel="stylesheet" type="text/css">
   <link href="vendor/animate.css/animate.min.css" rel="stylesheet" type="text/css">
   <link href="vendor/device-mockups/device-mockups.min.css" rel="stylesheet" type="text/css">

   <!-- Vitality Theme CSS -->
   <!-- INSTRUCTIONS: Uncomment the color scheme you want to use. Red is chosen by default. -->
   <link rel="stylesheet" type="text/css" href="/style.css" />
   <!-- <link href="/vital/css/vitality-aqua.css" rel="stylesheet" type="text/css"> -->



   <!-- end vital -->


   


   <link rel="stylesheet" href="/angular-material/angular-material.css">
   <script src="/lodash/index.js"></script>
   <script src="/angular/angular.js"></script>
   <script src="/angular-animate/angular-animate.js"></script>
   <script src="/angular-ui-router/release/angular-ui-router.js"></script>
   <script src="/angular-aria/angular-aria.js"></script> 
   <script src="/angular-material/angular-material.js"></script>
   <script src="/socket.io-client/socket.io.js"></script>


   <!-- Custom Scripts -->
   <script src="/fine-uploader/fine-uploader/fine-uploader.js"></script>

   <!-- Important Owl stylesheet -->
   <link rel="stylesheet" href="/assets/scripts/owl.carousel/owl-carousel/owl.carousel.css">

   <!-- Default Theme -->
   <link rel="stylesheet" href="/assets/scripts/owl.carousel/owl-carousel/owl.theme.css">

   <script src="/jquery/dist/jquery.min.js"></script>
   <script src="/assets/scripts/owl.carousel/owl-carousel/owl.carousel.js"></script>



   <script src="/main.js"></script>
   
</head>
<body ng-app="Portfolio" class="top modern">







    <div id="main page-top" class="main" ui-view>
        <navbar></navbar>



    </div>



    <!-- Vitality Theme Scripts -->
    
    <script src="/vital/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vital/js/classie.js"></script>
    <script src="/vital/js/cbpAnimatedHeader.js"></script> 

    <!-- Plugin Scripts -->

    <script src="/vital/vendor/jquery.easing/jquery.easing.min.js"></script>

    <script src="/vital/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/vital/vendor/formstone/core.js"></script>
    <script src="/vital/vendor/formstone/transition.js"></script>
    <script src="/vital/vendor/formstone/background.js"></script>
    <script src="/vital/vendor/mixitup/jquery.mixitup.js"></script>
    <script src="/vital/vendor/wow/wow.min.js"></script>

    <!-- Contact Form Scripts -->
    <script src="/vital/js/contact_me.js"></script>
    <script src="/vital/js/jqBootstrapValidation.js"></script>

    <!-- Vitality Theme Scripts -->
    <script src="/vital/js/vitality.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Cardo:400,400italic,700' rel='stylesheet' type='text/css'>

     <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

 </body>
 </html>
