<!-- 
<section id="clients">
        <div class="container text-center wow fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Clients</h2>
                    <p>Current and past clients</p>
                    <hr class="colored">
                </div>
            </div>
            <div class="row content-row">
                <div class="col-lg-12">
                    <div class="clients-carousel">
                        <div class="mt-client-item">
                            <img src="assets/img/self/coco-3.jpg" class="img-responsive" alt="">
                            <div class="caption">
                                <h3>Bees &amp; Beans</h3>
                                <hr class="colored">
                            </div>
                        </div>
                        <div class="mt-client-item">
                            <img src="assets/img/self/coco-4.jpg" class="img-responsive" alt="">
                            <div class="caption">
                                <h3>Bees &amp; Beans</h3>
                                <hr class="colored">
                            </div>
                        </div>
                        <div class="mt-client-item">
                            <img src="assets/img/smores.png" class="img-responsive" alt="">
                            <div class="caption">
                                <h3>Mellows</h3>
                                <hr class="colored">
                            </div>
                        </div>
                        <div class="mt-client-item">
                            <img src="assets/img/self/coco-6.jpg" class="img-responsive" alt="">
                            <div class="caption">
                                <h3>Bees &amp; Beans</h3>
                                <hr class="colored">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->




<div>
    
    <div layout="row" layout-margin layout-align="center center">
        <div flex ng-repeat="client in clients" id="mt-client-box" layout="column" layout-padding>
            <div layout="row" layout-align="center center">
                <div flex layout-align="center center" class="heading text-center">
                    Name: {{client.name}}
                    
                </div>
                <div flex="30">
                    <img ng-src={{client.logo}} class="img-responsive" alt="">
                </div>
                
            </div>
            <div class="about">  
                About: {{client.about}}
            </div>
            <div class="testimonial">  
                Testamonial: {{client.testimonial}}
            </div>
            <div class="text-center">
            <md-button class="md-primary md-raised" ng-click="delete(client)">Delete</md-button>
            </div>
        </div>

    </div>
</div>